<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mochen.web.mapper.ComplexWebStudentMapper">

    <select id="getSchoolList" resultType="com.mochen.web.entity.xdo.ComplexWebStudentDO">
        SELECT school_id FROM complex_web_student
    </select>
</mapper>
