<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mochen.sharding.mapper.UserMapper">

    <select id="getStudentListByPage" resultType="com.mochen.sharding.entity.xdo.UserDO">
        SELECT
            *
        FROM
            `user`
        WHERE `name` LIKE concat('%',#{name},'%')
        LIMIT #{current},#{limit}
    </select>
</mapper>
